<form action="/dogfriends/create" method="post">
        <label class="form-label">name of your dog</label>
        <input type="text" name="name">
        <label class="form-label">age</label>
        <input type="text" name="age">
        <label class="form-label">weight(kg)</label>
        <input type="text" name="weight">
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<a href="/dogFriends">뒤로</a>